@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Sans+Mono&display=swap');

:root {
	--primary-font: 'Manrope';
	--secondary-font: 'Noto Sans Mono';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
